@(myForm: Form[models.Document])

@*********************
 * Fieldconstructor from twitterBootstrap
 ********************@
@import helper.twitterBootstrap._

@main("UniSearch - Adminpage") {
    
    @helper.form(action = routes.Admin.submit) {
            @helper.inputText(myForm("title"))
            @helper.inputText(myForm("department"))
            @helper.inputText(myForm("link"))
            @helper.inputText(myForm("tags"))
            <input type="submit" value=" Submit ">
            <input type="reset" value=" Reset">
    }
    
}